<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VueJS (CDN)</title>
  <link href="styles.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
  <div id="vue-app">
    <h1>{{ greet('Afternoon') }}</h1>
    <!-- <a v-bind:href="website">My portfolio</a> // binding -->
    <a :href="website">My portfolio</a> <!-- binding short hand -->
    <input type="text" :value="name" />
    <p v-html="websiteTag"></p>
    <p>Name: {{ name }}</p>
    <p>Job: {{ job }}</p>
  </div>

  <div id="events">
    <h1>Events</h1>
  
    <button v-on:click="age++">Add an Year</button>
    <button @click="age--">Subtract an Year</button>
    <br><br>
    <!-- v-on: is directive, @ is short hand for v-on:, can use alot of DOM events like click, dblclick, mousemove etc, we have access to properties of Vue data. -->
  
    <button v-on:click="add(1)">Add an Year</button>
    <button v-on:click="subtract(1)">Subtract an Year</button>
    <br><br>
    <!-- Alternatively, we can externalize this code and fire some method. No need to call the methods, Vue will know -->
  
    <button v-on:dblclick="add(10)">Add 10 Years</button>
    <button v-on:dblclick="subtract(10)">Subtract 10 Years</button>
    <br><br>
    <!-- We can use same methods by passing the values -->
  
    <button v-on:click.once="add(1)">Add an Year Only once</button>
    <br>
    <!-- We can specify if an event needs to be only run once by using `event modifiers`. -->
    <p>My age is {{ age }}</p>
    <div id="canvas" v-on:mousemove="updateXY">{{ x }}, {{ y }}</div>
    <a @click.prevent="click" href="https://waleedyousaf07.wixsite.com/portfolio">Waleed Yousaf</a>
    <!-- W/o this `.prevent` modifier, on clicking, first it will call the `click` function and then will move to the `href` link. This `.prevent` modifier will prevent this default behaviour. The modifiers are `.stop, .prevent, .capture, .self, .once` -->
    <h1>Keyboard Events</h1>
    
    <label>Name:</label>
    <input type="text" @keyup="logName" />
    <label>Age:</label>
    <input type="text" @keyup.enter="logAge" />
    <!-- Only fire event after an enter press not on every keyup by modifier -->
    <label>Skill:</label>
    <input type="text" @keyup.alt.enter="logAge" />
    <!-- We can chain modifiers. The keyboard modifiers are -->
  </div>

  <div id="two-way-data-binding">
    <h1>Two way data-binding</h1>
  
    <label>Name:</label>
    <input type="text" v-model="name" />
    <span>{{ name }}</span>
    <label>Age:</label>
    <input type="text" v-model="age" />
    <span>{{ age }}</span>
  </div>

  <div id="computed-properties">
    <h1>Computed Properties</h1>
  
    <button v-on:click="a++">Add to A</button>
    <button @click="b++">Add to B</button>
  
    <p>A - {{ a }}</p>
    <p>B - {{ b }}</p>
    <p>Age + A => {{ addToA }}</p>
    <p>Age + B => {{ addToB }}</p>
    <!-- If we use methods, each time any value is changed, both these method will run even only on clicking one button updates value of one. To make it more efficient, we'll use `computed properties`, which are almost same as methods but will only run the required method. For computed properties, we dont need to call methods` -->
  </div>

  <div id="dynamic-css">
    <h1>Dynamic CSS</h1>
  
    <h2>Example 1</h2>
    <div v-on:click="available = !available" v-bind:class="{available: available}">
      <span>Ronaldo</span>
    </div>
  
    <h2>Example 2</h2>
    <!-- Instead of having that object for class here, we can pass it from Vue instance -->
    <button v-on:click="nearby = !nearby">Toggle nearby</button>
    <button v-on:click="available = !available">Toggle available</button>
    <div v-bind:class="compClasses">
      <span>Ronaldo</span>
    </div>
  </div>

  <script src="app.js"></script>
</body>

</html>
