body > div {
  border-bottom: 3px dashed #323232;
  margin-bottom: 8px;
  padding: 16px;
}

#events #canvas {
  width: 600px;
  padding: 50px 20px;
  text-align: center;
  border: 1px solid #323232;
  margin-bottom: 16px;
}

#dynamic-css span {
  background: red;
  display: inline-block;
  padding: 10px;
  color: #fff;
  margin: 10px 0;
}

#dynamic-css .available span {
  background: green;
}

#dynamic-css .nearby span::after {
  content: "nearby";
  margin-left: 10px;
}
