#events, #vue-app, #two-way-data-binding, #computed-properties {
  border-bottom: 3px dashed #323232;
  margin-bottom: 8px;
  padding: 16px;
}

#events #canvas {
  width: 600px;
  padding: 50px 20px;
  text-align: center;
  border: 1px solid #323232;
  margin-bottom: 16px;
}
