<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VueJS (CDN)</title>
  <link href="styles.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
  <div id="components">
    <h1>Components</h1>
    <div id="vue-app-one">
      <h2>{{ title }}</h2>
      <greeting></greeting>
    </div>

    <div id="vue-app-two">
      <h2>{{ title }}</h2>
      <greeting></greeting>
    </div>
  </div>

  <div id="refs">
    <!-- Vue lets us reach into html templates and grab elements and access data about that element through refs -->
    <h1>Refs</h1>
  
    <input type="text" ref="inputRef" />
    <button @click="readRefs">Submit</button>
    <p>Your fav food: {{ output }}</p>
    <div ref="test">Test Div</div>
  </div>

  <script src="app.js"></script>
</body>

</html>